@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mono);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-epilot {
  background-image: linear-gradient(98deg, #4c4cff 29.96%, #00d7ff 86.95%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  position: relative;
}

a.text-epilot:hover::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.1em; /* Slightly below baseline */
  height: 0.1em;
  background-image: linear-gradient(98deg, #4c4cff 29.96%, #00d7ff 86.95%);
  pointer-events: none;
  z-index: 1;
}
